{% extends web_wrapper %}
{% set page_title = 'Examples' %}

{% block extend_header %}
    <style type="text/css">
        .section {
            width: 400px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="section">
        <h3>This is a secure page!</h3>
        <div>From here you can safely display user data.</div>
    </div>

    <div class="section">
        <h3>Implementation Examples</h3>
        <div class="example"><a href="{{ request.app.url_for('examples.payment') }}">Single Payment</a></div>
        <div class="example"><a href="{{ request.app.url_for('examples.grouped_txns') }}">Grouped Transactions</a></div>
    </div>
{% endblock %}

